.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 5rem;
    background: var(--primary-100);
    background: linear-gradient(0deg, var(--primary-100), var(--neutral-200) 40%, var(--neutral-400) 85%);

    .clouds {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 51;
    }

    .nav {
        width: 90%;
        padding-block: 1rem;
        border: 1px solid #2D2424;
        background: var(--accent-100);
        background: linear-gradient(to top, var(--accent-100), var(--primary-100));
        border-radius: 5rem;
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        top: 2rem;
        z-index: 50;
        animation: scroll-shadow linear;
        animation-timeline: scroll();
        animation-range: 0px 700px;
        animation-fill-mode: forwards;

        button {
            letter-spacing: 0.1rem;
            font-family: Quicksand;
            color: #2D2424;
            font-weight: 500;
        }
        
    }

    .hero {
        padding-block-start: 25rem;
        position: relative;


        &__title {
            text-align: center;
            word-spacing: 0.5rem;
            position: fixed;
            top: 10rem;
            left: 50%;
            transform: translateX(-50%);
            font-family: 'Dancing Script';
            font-size: 4rem;
            color: #8d0606;
            z-index: 1;
        }
        &__carousel {
            position: relative;
            overflow: hidden;
            margin-inline: 2rem;
            -ms-overflow-style: none;
            scrollbar-width: none;
            z-index: 51;
            display: flex;
            padding-block: 1rem;

            .carousel-wrapper {
                display: flex;
                gap: 1rem;
                flex: 0 0 auto;
                animation: constant-scroll 25s infinite linear;
                padding-inline-end: 1rem;

                img {
                    border-radius: 1rem;
                    border: 3px inset rgba(45, 36, 36, 0.2);
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
                }
            }

            
            &::-webkit-scrollbar {
                display: none;
            }
            &-img {
                object-fit: cover;
            }
        }
    }
}

@keyframes constant-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes cloud-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes scroll-shadow {
    0% { box-shadow: 0 -0.5rem 2rem 0 rgba(45, 36, 36, 0.5); }
    70% { box-shadow: 0 0 1rem 0 rgba(45, 36, 36, 0.5); }
    100% { box-shadow: 0 0.5rem 1rem 0 rgba(45, 36, 36, 0.3); }
}