.timeline__cards-container {
    .timeline__card-container__camping-trip {
        width: 100%;
        height: 80rem;
        background-color: var(--primary-100);
        animation: appears-no-shrink linear;
        animation-timeline: view();
        scroll-snap-align: center;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../../Images/21F573C5-606E-43D4-B8B6-137C417ABDAA_1_102_o.jpeg);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            opacity: 0.5;
        }

        .timeline__card-modifier-img-container {
            display: flex;
            align-items: center;
            gap: 2rem;

            .timeline__card-modifier-slider-container {
                display: flex;
                align-items: center;
                border: 2px solid black;
                height: 38rem;
                width: 85vw;
                position: relative;
                overflow: hidden;

                > div {
                    img {
                       height: 20rem; 
                    }
                    position: absolute;
                    top: 3rem;
                    right: 50%;
                    transform: translateX(50%);
                    transition: transform 0.5s ease;
                    p {
                        display: none;
                    }
                }
                > div.right-stack {
                    
                    transform: translateX(160%, 10rem) rotate(10deg) scale(0.6);
                }

                > div.selected {
                    transform: translate(50%) rotate(0deg) scale(1) 1s ease;
                    z-index: 100;
                }

                > div.left-stack {
                    
                    transform: translateX(-60%) rotate(-10deg) scale(0.6) 1s ease;
                }
                
            }
            
            .timeline__modifier-slides-button {
                background-color: var(--primary-100);
                height: 3rem;
                width: 3rem;
                border-radius: 5rem;
            }     
        }
            
    }
}