

.timeline {
    position: relative;
    background-color: #F2F0EF;
    display: flex;
    flex-direction: column;
    padding-block: 5rem;

    &__center-divider {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 5px;
        height: 95%;
        background-color: black;
        border-radius: 5rem;
    }
    &__cards-container {
        display: flex;
        flex-direction: column;
        gap: 20rem;

        .timeline__section {
            width: 100%;
            position: relative;
            height: 100rem;
            
            .timeline__card {
                position: sticky;
                top: 12vh;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                width: 50%;
                animation: appears linear;
                animation-timeline: view();

                &-imgs {
                    padding-block-end: 0.5rem;
                    display: flex;
                    align-items: center;
                    overflow: scroll;
                    ::-webkit-scrollbar {
                        display: none;
                    }
                    /* For IE, Edge, and Firefox */
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none; 

                    img {
                        border-radius: 0.5rem;
                        border: 8px inset var(--accent-700);
                        height: 38rem;
                        width: 30rem; 
                        object-fit: cover;
                    }
                }

                &-imgs:has(img:nth-child(2)) {
                    padding-inline: 5rem;
                    gap: 1rem;
                }

                &-date {
                    font-weight: 600;
                }

                &-title {
                    font-family: var(--ff-dancing);
                    font-size: 2rem;
                }

                &-par {
                    width: 90%;
                    text-align: center;
                    font-size: 1.3rem;
                    
                    
                }
            }

            &:last-of-type {
                .timeline__card {
                    width: 100%;
                }
            }

        }

        .timeline__section:nth-child(even) .timeline__card  {
            margin-inline-start: auto;
        }
    
    }
    
}


@keyframes appears {
    0%{
        opacity: 0;
        scale: 0.5;
    }
    30%{
        opacity: 1;
        scale: 1;
    }
    70%{
        opacity: 1;
        scale: 1;
    }
    100%{
        opacity: 0;
        scale: 0.5;
    }
}


#\30 2-2025-0 { 
    background-image: url(../Images/bg-img/rose.png); 
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 100% 50%;
}

#\30 5-2025-3 { 
    background-image: url(../Images/bg-img/anakin.gif), url(../Images/bg-img/obiwan.gif); 
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 30% 60%, 0% 30%;
}

#\30 7-2025-7 { 
    background-image: url(../Images/bg-img/fireworks.gif); 
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 15% 50%;
}

#\30 9-2025-10 { 
    background-image: url(../Images/bg-img/landt.gif); 
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 90% 50%;
}
