.timeline {
    position: relative;
    background-color: #F2F0EF;
    display: flex;
    flex-direction: column;
    padding-block: 5rem;

    &__center-divider {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 5px;
        height: 95%;
        background-color: black;
        border-radius: 5rem;
    }
    &__cards-container {
        display: flex;
        flex-direction: column;
        gap: 10rem;

        .timeline__card-container {
            position: relative;
            width: 50%;
            height: 60rem;
            

            .timeline__card {
                position: sticky;
                top: 0;
                width: 100%;
                padding-inline: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                align-self: flex-start;
                animation: appears linear;
                animation-timeline: view();

                &-img {
                    max-height: 30rem;
                    width: 25rem;
                    border: 2px solid black;
                    border-radius: 1rem;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;

                    img {
                        object-fit: cover;
                        width: 25rem;
                    }
                }
                

                &-title, &-par {
                    text-align: center;
                }


            }
            &:nth-child(even) {
                    align-self: flex-end;
                }
        }
    
    
    }
    
}

@keyframes appears {
    0%{
        opacity: 0;
        scale: 0.5;
    }
    30%{
        opacity: 1;
        scale: 1;
    }
    70%{
        opacity: 1;
        scale: 1;
    }
    100%{
        opacity: 0;
        scale: 0.5;
    }
}
