:root {
    --primary-100: #F2F0EF;
    --neutral-500: rgb(252, 188, 35);
    --neutral-400: rgb(231, 179, 231);
    --neutral-200: rgba(252, 136, 35, 0.75);
    --accent-100: rgb(203, 201, 201);
    
}